In [5]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [20]:
data = pd.read_csv("data/Gr_AOI_52.dat", sep="\s+",engine="python")

In [21]:
data.head()

,,,,,,,,,,,,,,WS2,Flake
"VASEmethod[EllipsometerType=4,","Isotropic,","FixedPol=45.00,","ZoneAve=1,","Revs=400,","OffsetMode=2,","Offset1=0.11742,","Offset2=0.23822,","Offset3=-0.019523,","WVASE=3.802,","HardVer=17.034,",Wed,Sep,18.0,17:07:16,2019]
Original[s1_bulk_ws2_2d_semic_45deg_01.dat],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
nm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
365.0,52.000,26.77394,194.63693,0.012792,0.017822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
367.5,52.000,25.52813,194.56668,0.008019,0.011401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

,,,,,,,,,,,,,,WS2,Flake
Original[s1_bulk_ws2_2d_semic_45deg_01.dat],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
365.0,52.000,26.77394,194.63693,0.012792,0.017822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
370.0,52.000,28.26450,194.03227,0.007145,0.008860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
375.0,52.000,26.99553,194.12927,0.004430,0.006502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
380.0,52.000,26.53677,195.29250,0.003414,0.005042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925.0,52.000,16.99316,208.54880,0.029011,0.099329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
930.0,52.000,17.39052,209.20399,0.035328,0.124093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
935.0,52.000,17.76791,208.78259,0.039701,0.149002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
940.0,52.000,17.80498,210.08369,0.042086,0.166437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
945.0,52.000,18.33527,211.73604,0.047607,0.197615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

In [12]:
data = pd.read_csv("data/example_data.phi", sep="\s+",engine="python")

In [13]:
data.head()

       Angle       Delta        Psi
0  70.000000  168.172119  10.496649
1  70.200005  167.972336  10.145239
2  70.400032  167.734497   9.810260
3  70.600014  167.469971   9.465815
4  70.800018  167.192352   9.122969

In [11]:
data[1:3]

,Null-Elli,winkelabh�ngig,/,"Einfallswinkel,","Delta,",Psi,30.,Januar,2020,14:16:21
1,70.0000000,168.172119,10.4966488,None,None,None,None,NaN,NaN,NaN
2,70.2000046,167.972336,10.1452389,None,None,None,None,NaN,NaN,NaN

In [14]:
data['Angle']

0     70.000000
1     70.200005
2     70.400032
3     70.600014
4     70.800018
5     71.000023
6     71.200028
7     71.400032
8     71.600037
9     71.800049
10    72.000053
11    72.200058
12    72.400063
13    72.600075
14    72.800072
15    73.000076
16    73.200081
17    73.400085
18    73.600090
19    73.800140
20    74.000099
21    74.200104
22    74.400108
23    74.600121
24    74.800125
25    75.000130
26    75.200089
27    75.400139
28    75.600143
29    75.800148
30    76.000191
31    76.200157
32    76.400177
33    76.600166
34    76.800163
35    77.000175
36    77.200188
37    77.400192
38    77.600243
39    77.800186
40    78.000191
41    78.200211
42    78.400215
43    78.600220
44    78.800224
45    79.000229
46    79.200233
47    79.400238
48    79.600243
49    79.800255
50    80.000267
51    80.000267
Name: Angle, dtype: float64

In [1]:
import scipy.io
mat = scipy.io.loadmat('data/Glass_optical_constants.mat')

ValueError: Unknown mat file type, version 9, 50

In [2]:
import numpy as np
import h5py
f = h5py.File('data/Glass_optical_constants.mat','r')
data = f.get('data/variable1')
data = np.array(data)

OSError: Unable to open file (file signature not found)

In [3]:
save('data/Glass_optical_constants.mat', '-v7')

'-v7)' was not found in history, as a file, url, nor in the user namespace.

In [6]:
data = pd.read_csv("data/Glass_optical_constants.mat")

In [7]:
data

                           ANGSTROMS
0                               E1E2
1    2500.0000\t2.6286785\t0.0000000
2    2510.0000\t2.6256799\t0.0000000
3    2520.0000\t2.6227186\t0.0000000
4    2530.0000\t2.6197940\t0.0000000
..                               ...
582  9350.0000\t2.2901251\t0.0000000
583  9375.0000\t2.2899911\t0.0000000
584  9400.0000\t2.2898581\t0.0000000
585  9425.0000\t2.2897262\t0.0000000
586  9450.0000\t2.2895953\t0.0000000

[587 rows x 1 columns]