In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [20]:
data = pd.read_csv("data/Gr_AOI_52.dat", sep="\s+",engine="python")

In [21]:
data.head()

,,,,,,,,,,,,,,WS2,Flake
"VASEmethod[EllipsometerType=4,","Isotropic,","FixedPol=45.00,","ZoneAve=1,","Revs=400,","OffsetMode=2,","Offset1=0.11742,","Offset2=0.23822,","Offset3=-0.019523,","WVASE=3.802,","HardVer=17.034,",Wed,Sep,18.0,17:07:16,2019]
Original[s1_bulk_ws2_2d_semic_45deg_01.dat],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
nm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
365.0,52.000,26.77394,194.63693,0.012792,0.017822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
367.5,52.000,25.52813,194.56668,0.008019,0.011401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

,,,,,,,,,,,,,,WS2,Flake
Original[s1_bulk_ws2_2d_semic_45deg_01.dat],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
365.0,52.000,26.77394,194.63693,0.012792,0.017822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
370.0,52.000,28.26450,194.03227,0.007145,0.008860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
375.0,52.000,26.99553,194.12927,0.004430,0.006502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
380.0,52.000,26.53677,195.29250,0.003414,0.005042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925.0,52.000,16.99316,208.54880,0.029011,0.099329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
930.0,52.000,17.39052,209.20399,0.035328,0.124093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
935.0,52.000,17.76791,208.78259,0.039701,0.149002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
940.0,52.000,17.80498,210.08369,0.042086,0.166437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
945.0,52.000,18.33527,211.73604,0.047607,0.197615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None